html, body {
    height: 100%;
    width: 100%
}


h1,p,div,html,body {
    margin:0;
    padding:0;
}

/* TASKS SECTION */
#content {
    width: 100%;
    height: 100%;
    text-align: center;
}

#action-buttons {
    padding-top: 20px;
    height: 10%;
    background-color: #ced7d3;
}

#action-buttons button {
    font-size: 2rem;
}


#frame-container {
    height: 90%;
    width: 100%;
}
#frame-container iframe {
    width:100%;
    height:100%;
}

#nick-name {
    float: left;
    width: 30%;
}

#nick-name-content {
    display: table;
    height: 79%;
    width: 100%;
}
.form {
    display: table-cell;
    vertical-align: middle;
}
.form-group {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

#nick-name-content label {
    display: block;
}

#nick-name-content .btn-success {
    width: 30%;
    margin-left: 4%;
}

#nick-name-content input {
    width: 65%;
}

/* INSTRUCTION PAGE */
#instr-inner-content {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#instr-content {
    display: table-cell;
    vertical-align: middle;
}

#instruction {
    display: table;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

.info {
    text-align: left;
    margin-top: 70px;
    font-size: 2rem;
}

#end-task {
    margin-top: 30px;
}